<h1>Lost Cat</h1>
<h4>
  <a href="/lostcats/new">Add Lost Cat</a>
</h4>

<% if cat_list.empty? %>
  There are no lost cats.
<% else %>
  <% cat_list.each_with_index do |lost_cat, index| %>
    <section>
      <p>
        <a href="/lostcats/<%= index %>"><%= lost_cat.name %>:</a> 
        <% if lost_cat.description.length < 20 %>
          <%= lost_cat.description %>
        <% else %>
          <%= "#{lost_cat.description[0..70]}" %>
          <a href="/lostcats/<%= index %>">[...]</a> 
        <% end %>
      </p>
      <form action="/lostcats/<%= index %>" method="POST">
        <%#
          This hidden input is necessary for Sinatra to recognise
          this as a DELETE request.
        %>
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete <%= lost_cat.name %></button>
      </form>
    </section>
  <% end %>
<% end %>
